@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-div::-webkit-scrollbar {
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-color: transparent !important;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background-color: rgba(63, 63, 70, 0.5) !important; 
    border-radius: 6px !important;
    border: 2px solid transparent !important;
    background-clip: content-box !important;
}

.hide-scrollbar {
    overflow: auto;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

#root {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}